<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{user.alias}}'s Profile</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'belt_app/css/user.css' %}">
    </head>
    <header>
        <a href='{% url "books" %}'>Home</a>
        <a href='{% url "new_review" %}'>Add Book and Review</a>
        <a href='{% url "logout" %}'>Log Out</a>
    </header>
    <body>
	    <div id="info">
	    	<h1>User Alias: {{user.alias}}</h2>
	    	{% if user.id != request.session.user %}
		    	<div id="add_friend">
			    	{% if myself in friends %}
			    	<p>Already friends!</p>
			    	<p><a href='{% url "remove_friend" user.id %}'>Remove friend</a></p>
			    	{% else %}
			    	<p><a href='{% url "add_friend" user.id %}'>Add friend</a></p>
			    	{% endif %}
		   		</div>
	    	{% endif %}
	    	<h3>Name: {{user.first_name}} {{user.last_name}}</h1>
	    	<h3>Email: {{user.email}}</h3>
	    	<h3>Total Reviews: {{reviews.count}}</h3>
	    </div>
	    <div id="reviews">
	        <h1>Posted Reviews on the following books:</h1>
	        {% for review in reviews %}
	        	<p><a href='{% url "book_review" review.book_reviewed.id %}'>{{review.book_reviewed.title}}</a></p>
	        {% endfor %}
	    </div>
	    <div id="friends">
		    <h1>Friends</h1>
			    {% for friend in friends %}
			    	<p><a href='{% url "user" friend.id %}'>{{friend.alias}}</a></p>
			    {% endfor %}
		    </div>
	    <div id="favorites">
	    <h1>Favorite Books</h1>
	    {% for favorite in favorites %}
	    	<p><a href='{% url "book_review" favorite.id %}'>{{favorite.title}}</a></p>
	    {% endfor %}
	    </div>
	    <div id="unfavorites">
	    <h1>Not Favorited</h1>
	    {% for unfavorite in unfavorites %}
	    	<p><a href='{% url "book_review" unfavorite.id %}'>{{unfavorite.title}}</a></p>
	    {% endfor %}
	    </div>
    </body>
</html>